
@{
    ViewBag.Title = "Kode Shift";
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Master Kode Shift"
    };
}
<div ng-app="aspnet" class="row">
    <kode-shift><div class="loading"></div></kode-shift>
</div>