@{
    ViewBag.Title = "Master Lokasi";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Lokasi"
    };
}
﻿<div ng-app="aspnet" class="row">
    <location><div class="loading"></div></location>
    <upload-download></upload-download>
</div>
