@{
    ViewBag.Title = "Konfigurasi Planning";
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Konfigurasi Planning"
    };
}
<div ng-app="aspnet" class="row">
    <configuration-Planning greet="@Url.Content("~/")"><div class="loading"></div></configuration-Planning>
</div>