@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Planning Master Kalender Libur Kerja";
    ViewBag.BreadCrumb = new List<string>
    {
        "Planning",
        "Master Kalender Libur Kerja"   

    };
}
<div ng-app="aspnet" class="row">
    <holiday><div class="loading"></div></holiday>
</div>