@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Region";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Region"
    };
}
<div ng-app="aspnet">
    <region><div class="loading"></div></region>
    <upload-download></upload-download>
</div>