<div class="col-xs-12">
    <h1>AFI Download (TAM)</h1>
    <div class="header-line"></div>
    <div class="menu-panel">
        <div class="panel-inside-padding">
            <form name="afiDownloadForm" class="form-horizontal row-striped" ng-submit="me.doSearch()">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="control-label">Frame No</label>
                    </div>
                    <div class="col-xs-7">
                        <input type="text" class="form-control text-uppercase" name="frameNo" ng-model="me.searchSubmission.frameNo" ng-maxlength="30" ng-pattern="/^[A-Za-z0-9]*$/">
                        <validation-message input="afiDownloadForm.frameNo" mismatch="harus Alpha Numeric" title="Frame Number"></validation-message>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="control-label">Quantity</label>
                    </div>
                    <div class="col-xs-7">
                        <input type="number" class="form-control" name="Quantity" ng-model="me.searchSubmission.quantity" min="0" ng-pattern="/^[0-9]*$/">
                        <validation-message input="afiDownloadForm.Quantity" title="Quantity" mismatch="harus Numeric"></validation-message>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="control-label">Status Pengajuan <span class="mandatory">*</span></label>
                    </div>
                    <div class="col-xs-7 rb-group" ng-init="me.searchSubmission.statusPengajuan='Normal'">
                        <label class="radio-inline"><input type="radio" ng-model="me.searchSubmission.statusPengajuan" value="Normal" name="rbStatus" ng-click="me.hideRevisi()">Normal</label>
                        <label class="radio-inline"><input type="radio" ng-model="me.searchSubmission.statusPengajuan" value="Revisi" name="rbStatus" ng-click="me.showRevisi()">Revisi</label>
                        <label class="radio-inline"><input type="radio" ng-model="me.searchSubmission.statusPengajuan" value="Ex-Cancel" name="rbStatus" ng-click="me.hideRevisi()">Ex-Cancel</label>
                    </div>
                </div>
                <div class="form-group" ng-if="me.revisiState">
                    <div class="col-xs-3">
                        <label class="control-label">Revisi <span class="mandatory">*</span></label>
                    </div>
                    <div class="col-xs-7 rb-group" ng-init="me.searchSubmission.revisi='REV.A'">
                        <label class="radio-inline"><input type="radio" ng-model="me.searchSubmission.revisi" value="REV.A" name="rbRevisi">REV.A</label>
                        <label class="radio-inline"><input type="radio" ng-model="me.searchSubmission.revisi" value="NonREV.A" name="rbRevisi">Non REV.A</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="control-label">Tipe <span class="mandatory">*</span></label>
                    </div>
                    <div class="col-xs-7 rb-group" ng-init="me.searchSubmission.type='MHK'">
                        <label class="radio-inline"><input type="radio" ng-model="me.searchSubmission.type" value="MHK" name="rbType">MHK</label>
                        <label class="radio-inline"><input type="radio" ng-model="me.searchSubmission.type" value="CKD" name="rbType">CKD</label>
                        <label class="radio-inline"><input type="radio" ng-model="me.searchSubmission.type" value="CBU" name="rbType">CBU</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="control-label">Branch</label>
                    </div>
                    <div class="col-xs-7">
                        <ui-select ng-model="me.searchSubmission.branch" class="text-uppercase" theme="bootstrap">
                            <ui-select-match placeholder="Pilih salah satu" allow-clear="true">{{$select.selected.afiBranchCode}} - {{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="data in me.branchData | filter: $select.search">
                                <span ng-bind-html="data.afiBranchCode | highlight: $select.search"></span> -
                                <span ng-bind-html="data.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="control-label">Tanggal Pengajuan</label>
                    </div>
                    <div class="col-xs-3">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd MMM yyyy" ng-model="me.searchSubmission.tanggalPengajuan" is-open="openedPengajuan" close-text="Close" datepicker-options="me.dateOptions" alt-input-formats="me.altInputFormats" ng-change="me.tanggalChanged()" readonly/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openedPengajuan=!openedPengajuan"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-xs-1">
                        <label class="control-label">Sampai</label>
                    </div>
                    <div class="col-xs-3">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd MMM yyyy" ng-model="me.searchSubmission.sampai" is-open="openedSampai" close-text="Close"  datepicker-options="me.dateOptionsSampai" alt-input-formats="me.altInputFormats" ng-change="me.tanggalChangedSampai()" readonly/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openedSampai=!openedSampai"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-xs-2">
                        <input type="submit" class="btn btn-primary pull-right" id="btnCari" value="Cari" ng-disabled="afiDownloadForm.$invalid">
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="form-note"> <span class="mandatory">*</span>:Field mandatory harus diisi</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="menu-panel">
        <div class="text-right">
            <p>
                Tampilkan
                <select ng-model="me.pageSize" ng-options="data for data in me.pageSizes"></select>
                item per halaman
            </p>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered tableAfi">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" ng-model="me.cbMain" ng-change="me.selectAll()" id="cbSelect" name="cbSelectAll">
                        </th>
                        <th class="th100">Frame No</th>
                        <th class="th130">No Application</th>
                        <th class="th100">Tanggal DO</th>
                        <th class="th100">Model Name</th>
                        <th class="th100">Color</th>
                        <th class="th100">Jenis</th>
                        <th class="th100">Model</th>
                        <th class="th100">Chassis</th>
                        <th class="th160">Branch</th>
                        <th class="th130">No Reference</th>
                        <th class="th130">Nama Customer</th>
                        <th class="th100">No ID</th>
                        <th class="thAddress">Alamat</th>
                        <th class="th100">Provinsi</th>
                        <th class="th100">Kota</th>
                        <th class="th100">Kode Pos</th>
                        <th class="th100">Tanggal Efektif</th>
                        <th class="th160">TanggalAju</th>
                        <th class="th160">Region</th>
                        <th class="th100">Tipe Pengajuan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="me.loader==true">
                        <td colspan="22" class="text-center">
                            <i>Loading...</i>
                        </td>
                    </tr>
                    <tr ng-repeat="data in filtered = (me.submissionData)"
                        ng-if="$index >= ((me.currentPage-1)*me.pageSize) && $index < (me.currentPage * me.pageSize)">
                        <td>
                            <input type="checkbox" ng-model="data.select" ng-change="me.checkboxChanged()">
                        </td>
                        <td ng-bind="data.frameNumber"></td>
                        <td ng-bind="data.applicationNumber"></td>
                        <td ng-bind="data.doDate |date:'dd MMM yyyy'"></td>
                        <td ng-bind="data.modelName"></td>
                        <td ng-bind="data.color"></td>
                        <td ng-bind="data.jenis"></td>
                        <td ng-bind="data.model"></td>
                        <td ng-bind="data.chassis"></td>
                        <td ng-bind="data.branch"></td>
                        <td ng-bind="data.referenceNumber"></td>
                        <td ng-bind="data.customerName"></td>
                        <td ng-bind="data.ktp"></td>
                        <td ng-bind="(data.address1+'/'+data.address2+'/'+data.address3)"></td>
                        <td ng-bind="data.province"></td>
                        <td ng-bind="data.city"></td>
                        <td ng-bind="data.postalCode"></td>
                        <td ng-bind="data.tanggalEfektif |date:'dd MMM yyyy'"></td>
                        <td ng-bind="data.tanggalAjuAFI |date:'dd MMM yyyy HH:mm'"></td>
                        <td ng-bind="data.region"></td>
                        <td ng-bind="data.tipePengajuanName"></td>
                    </tr>
                    <tr ng-if="filtered.length==0 || me.submissionData==null">
                        <td colspan="22"><center>Data tidak ditemukan</center></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-right">
            <ul uib-pagination total-items="filtered.length" ng-model="me.currentPage" max-size="me.maxSize" items-per-page="me.pageSize"
                class="pagination-sm" boundary-links="true" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
    </div>

    <div class="pull-right">
        <button type="button" class="frmSubmit btn btn-primary" ng-click="me.downloadDialog();">Download</button>
    </div>
</div>
