<div class="Page">
    <div class="col-md-12">
        <div class="col-md-6">
            <h1>
                Maintenance Konfigurasi Planning
            </h1>
        </div>
        <hr class="header-line" />
        <div class="menu-panel">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Kode Routing</th>
                            <th class="text-center">Konfigurasi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="result.length == 0">
                            <td colspan="10" class="text-warning">Data Tidak Ditemukan!!!</td>
                        </tr>
                        <tr ng-repeat="data in (result = (me.data))">
                            <td ng-bind="data.routingMasterCodeAndName"></td>
                            <td ng-bind="data.config"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <button ng-if="result.length != 0" type="submit" id="btnSubmit" ng-click="me.confirmationDialog('Apakah anda yakin untuk menghapus data ?', 'Delete', MyForm)" class="btn btn-danger"> Hapus Konfigurasi</button>
                </div>
            </div>
        </div>
        <div class="menu-panel">
            <div class="panel-inside-padding">
                <form id="MyForm" name="MyForm" class="form-horizontal row-striped">
                    <div class="form-group">
                        <div class="col-sm-7">
                            <label class="control-label" for="">MCCP report is based on ETP Initialized of Routing Master ID<span class="mandatory">*</span></label>
                        </div>
                        <div class="col-sm-4">
                            <ui-select ng-model="me.routingMastersMCCP" theme="bootstrap">
                                <ui-select-match placeholder="(Pilih Salah Satu)">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="dataRoutingMasterMCCP in me.dataRoutingMasterMCCP | filter: $select.search">
                                    <span ng-bind-html="dataRoutingMasterMCCP.routingMasterCode | highlight: $select.search"></span> -
                                    <span ng-bind-html="dataRoutingMasterMCCP .name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-7">
                            <label class="control-label" for="">DCCP report is based on ETP Adjusted & Actual Time of Routing Master ID<span class="mandatory">*</span></label>
                        </div>
                        <div class="col-sm-4">
                            <ui-select ng-model="me.routingMastersDCCP" theme="bootstrap">
                                <ui-select-match placeholder="(Pilih Salah Satu)">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="dataRoutingMasterDCCP in me.dataRoutingMasterDCCP | filter: $select.search">
                                    <span ng-bind-html="dataRoutingMasterDCCP.routingMasterCode | highlight: $select.search"></span> -
                                    <span ng-bind-html="dataRoutingMasterDCCP .name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="form-note"><span class="mandatory">*</span>:Field mandatory harus diisi</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-group">
            <div class="text-right">
                <button type="submit" id="btnSubmit" ng-click="me.confirmationDialog('Apakah anda yakin untuk menyimpan data ?', 'Update', MyForm)" class="btn btn-primary"> Simpan</button>
                <button type="reset" id="btnReset" ng-click="me.clearForm()" class="btn btn-danger"> Batal</button>
            </div>
        </div>
    </div>
</div>