<div class="col-md-12">
    <h1>
        Dwelling Time
    </h1>

    <div class="header-line"></div>

    <div class="menu-panel">
        <div class="text-right">
            <p>
                Tampilkan
                <select ng-model="me.pageSize" ng-options="pageSize for pageSize in me.pageSizes" ng-change="me.setPages(me.currentPage)"></select>
                item per halaman
            </p>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th ng-click="me.order('locationFrom')">Kode Lokasi Asal</th>
                        <th ng-click="me.order('locationNameFrom')">Lokasi Asal</th>
                        <th ng-click="me.order('locationTo')">Kode Lokasi Tujuan</th>
                        <th ng-click="me.order('locationNameTo')">Lokasi Tujuan</th>
                        <th ng-click="me.order('leadMinutes')">Lead Time</th>
                        <th class="action"></th>
                    </tr>
                    <tr>
                        <th>
                            <input type="text" class="form-control" ng-keyup="me.search(this)" ng-model="me.searchData.locationFrom" />
                        </th>
                        <th>
                            <input type="text" class="form-control" ng-keyup="me.search(this)" ng-model="me.searchData.locationNameFrom" />
                        </th>
                        <th>
                            <input type="text" class="form-control" ng-keyup="me.search(this)" ng-model="me.searchData.locationTo" />
                        </th>
                        <th>
                            <input type="text" class="form-control" ng-keyup="me.search(this)" ng-model="me.searchData.locationNameTo" />
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in (result = (me.dwellingTimeViewModel | filter : me.searchData  | orderBy : me.orderString :me.orderState)) track by $index"
                        ng-if="$index >= ((me.currentPage-1) * me.pageSize) && $index < (me.currentPage * me.pageSize)">
                        <td><span ng-bind="data.locationFrom"></span></td>
                        <td><span ng-bind="data.locationNameFrom"></span></td>
                        <td><span ng-bind="data.locationTo"></span></td>
                        <td><span ng-bind="data.locationNameTo"></span></td>
                        <td><span ng-bind="me.separateTotalLeadTimeMinutes(data.leadMinutes)"></span></td>
                        <td class="action">
                            <button type="button" class="btn btn-info" ng-click="me.selectEdit(data)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="me.deleteData(data)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="result.length < 1">
                        <td colspan="6" class="text-center">Data tidak ditemukan</td>
                    </tr>
                    <tr ng-if="result.length == undefined" class="text-center">
                        <td colspan="6"><i>Loading...</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-right">
            <ul uib-pagination total-items="me.totalItems" ng-model="me.currentPage" max-size="me.maxSize" items-per-page="me.pageSize" class="pagination-sm"
                boundary-links="true" num-pages="me.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
    </div>


    <form name="DwellingTimeForm" class="form-horizontal" ng-submit="me.addData(dwellingTimeForm)">
        <div class="menu-panel">
            <div class="panel-inside-padding">
                <div class="row-striped">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Kode Lokasi Asal <span class="mandatory">*</span></label>
                        </div>
                        <div class="col-sm-6" ng-if="!me.checkStatusCombobox">
                            <ui-select ng-model="me.locationFrom" theme="bootstrap">
                                <ui-select-match placeholder="Pilih salah satu">{{$select.selected.locationCode}} - {{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="code.locationCode as code in me.locationData | filter: $select.search">
                                    <span ng-bind-html="code.locationCode | highlight: $select.search"></span> -
                                    <span ng-bind-html="code.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-6" ng-if="me.checkStatusCombobox">
                            <input type="text" ng-model="me.locationFrom" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Kode Lokasi Tujuan <span class="mandatory">*</span></label>
                        </div>
                        <div class="col-sm-6" ng-if="!me.checkStatusCombobox">
                            <ui-select ng-change="me.checkCombobox()" ng-model="me.locationTo" theme="bootstrap">
                                <ui-select-match placeholder="Pilih salah satu">{{$select.selected.locationCode}} - {{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="code.locationCode as code in me.locationData | filter: $select.search">
                                    <span ng-bind-html="code.locationCode | highlight: $select.search"></span> -
                                    <span ng-bind-html="code.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-6" ng-if="me.checkStatusCombobox">
                            <input type="text" ng-model="me.locationTo" class="form-control" disabled />
                        </div>
                        <div class="col-sm-4">&nbsp;</div>
                        <p></p>
                        <div class="col-sm-offset-2 col-sm-6">
                            <i><span class="mandatory">{{me.stringError}}</span></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Lead Time <span class="mandatory">*</span></label>
                        </div>
                        <div class="col-sm-1">
                            <input ng-model="me.tempTime.day"
                                   type="number"
                                   name="Hari"
                                   class="form-control"
                                   min="0"
                                   max="99"
                                   required/>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Hari</label>
                        </div>
                        <div class="col-sm-1">
                            <input ng-model="me.tempTime.hour"
                                   type="number"
                                   name="Jam"
                                   class="form-control"
                                   min="0"
                                   max="23"
                                   required/>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Jam</label>
                        </div>
                        <div class="col-sm-1">
                            <input ng-model="me.tempTime.minute"
                                   type="number"
                                   name="Menit"
                                   class="form-control"
                                   min="0"
                                   max="59" 
                                   required/>
                        </div>
                        <div class="col-sm-1">
                            <label class="control-label">Menit</label>
                        </div>
                        <div class="col-sm-4">&nbsp;</div>
                        <div class="col-sm-offset-2 col-sm-6">
                            <validation-message input="DwellingTimeForm.Hari"></validation-message>
                            <validation-message input="DwellingTimeForm.Jam"></validation-message>
                            <validation-message input="DwellingTimeForm.Menit"></validation-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="form-note"><span class="mandatory">*</span>:Field mandatory harus diisi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary" ng-if="!me.editCheck" ng-disabled="me.disableButton()">Simpan</button>
            <button type="button" class="btn btn-primary" ng-if="me.editCheck" ng-click="me.updateData(DwellingTimeForm)" ng-disabled="me.disableUpdate()">Update</button>
            <button type="button" class="btn btn-danger" ng-click="me.reset(DwellingTimeForm)">Batal</button>
        </div>
    </form>
</div>
