<div class="col-md-12">
    <h1>Kalender Kerja: Generate Jam <i>Break</i></h1>
    <div class="header-line"></div>
    <div class="menu-panel">
        <div class="panel-inside-padding">
            <p class="text-right">
                Tampilkan
                <select ng-model="me.pageSize" ng-change="me.setPage(me.currentPage)" ng-options="data for data in me.pageSizes"></select>
                item per halaman
            </p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th ng-click="me.order('breakHourTemplateCode')" width="100px">Kode Pola</th>
                            <th ng-click="me.order('description')">Keterangan</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><input type="text" ng-keypress="me.setPage(1)" ng-model="me.search.breakHourTemplateCode" class="form-control" /></th>
                            <th><input type="text" ng-keypress="me.setPage(1)" ng-model="me.search.description" class="form-control" /></th>
                            <th class="action-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in (result = (me.generateJamBreakPage.breakHourTemplates | filter : me.search  | orderBy : me.orderString :me.orderState)) track by item.breakHourTemplateCode"
                            ng-if="$index >= ((me.currentPage-1) * me.pageSize) && $index < (me.currentPage * me.pageSize)">
                            <td ng-bind="item.breakHourTemplateCode"></td>
                            <td ng-bind="item.description"></td>
                            <td class="action-1 text-center"><input type="radio" name="idleDictionaryRadio" ng-model="me.idleDictionaryRadio" ng-click="me.fillForm(item)" value="{{$index}}" /></td>
                        </tr>
                        <tr ng-if="result.length < 1">
                            <td colspan="3" class="text-center">Data tidak ditemukan</td>
                        </tr>
                        <tr ng-if="result.length == undefined">
                            <td colspan="3" class="text-center"><i>Loading...</i></td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <ul previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" uib-pagination total-items="result.length" ng-model="me.currentPage" max-size="me.maxSize" items-per-page="me.pageSize" class="pagination-sm" boundary-links="true" num-pages="me.numPages"></ul>
                </div>
            </div>
        </div>
    </div>
    <form name="jamBreakForm" ng-submit="me.generateData(jamBreakForm)" class="form-horizontal">
        <div class="menu-panel">
            <div class="panel-inside-padding">
                <!--Row 1-->
                <div class="row-striped">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Kode Pola</label>
                        </div>
                        <div class="col-sm-4">
                            <input ng-model="me.idleTime.breakHourTemplateCode" class="form-control" disabled />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Keterangan</label>
                        </div>
                        <div class="col-sm-4">
                            <label ng-bind="me.idleDescription" class="control-label"></label>
                        </div>
                    </div>
                    <!--Row 2-->
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Lokasi</label>
                        </div>
                        <div class="col-sm-4">
                            <ui-select ng-model="me.idleTime.location"
                                       theme="bootstrap" ng-required="true">
                                <ui-select-match placeholder="Pilih salah satu">{{$select.selected.locationCode}} - {{$select.selected.locationName}}</ui-select-match>
                                <ui-select-choices repeat="item in me.generateJamBreakPage.location | filter: $select.search">
                                    <span ng-bind-html="item.locationCode | highlight: $select.search"></span> - 
                                    <small ng-bind-html="item.locationName | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Tanggal Berlaku</label>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input type="text" ng-model="me.idleTime.validFrom" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-change="me.dateStartChange()" is-open="me.dateStartPopup" datepicker-options="me.dateStartOptions" ng-required="true" close-text="Close" alt-input-formats="me.altInputFormats" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="me.openDateStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input type="text" ng-model="me.idleTime.validTo" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" is-open="me.dateOverPopup" datepicker-options="me.dateOverOptions" ng-required="true" close-text="Close" alt-input-formats="me.altInputFormats" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="me.openDateOver()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <input type="submit" value="Generate" ng-disabled="me.disableButton()" class="btn btn-primary" />
            <input type="button" value="Batal" ng-click="me.setPristine(jamBreakForm)" class="btn btn-danger" />
        </div>
    </form>
</div>