<div class="col-md-12">
    <h1>Lead Time Location Master</h1>
    <div class="header-line"></div>
    <div class="menu-panel">
        <div class="text-right">
            <p>Tampilkan <select ng-model="me.pageSize" ng-options="pageSize for pageSize in me.pageSizes" ng-change="me.setPages(me.currentPage)"></select> item per halaman</p>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th ng-click="me.order('locationCode')">Lokasi</th>
                        <th ng-click="me.order('processMasterCode')">Kode Rute</th>
                        <th ng-click="me.order('routeName')">Nama Rute</th>
                        <th ng-click="me.order('leadMinutes')">Lead Time</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" ng-keyup="me.search(this)" ng-model="me.searchTable.locationString"></td>
                        <td><input type="text" class="form-control" ng-keyup="me.search(this)" ng-model="me.searchTable.processMasterCode"></td>
                        <td><input type="text" class="form-control" ng-keyup="me.search(this)" ng-model="me.searchTable.routeName"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in (result = (me.masterLeadTimeLocationsData | filter : me.searchTable | orderBy : me.orderString : me.orderState)) track by $index" ng-if="$index >= ((me.currentPage-1) * me.pageSize) && $index < (me.currentPage * me.pageSize)">
                        <td ng-bind="data.locationString"></td>
                        <td ng-bind="data.processMasterCode"></td>
                        <td ng-bind="data.routeName"></td>
                        <td ng-bind="data.leadMinutesString"></td>
                        <td class="action">
                            <button type="button" class="btn btn-primary" ng-click="me.setUpdateRow(data)"><span class="glyphicon glyphicon-edit"></span></button>
                            <button type="button" class="btn btn-danger" ng-click="me.deleteRow(data, MasterLeadTimeLocationForm)"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                    <tr ng-if="result.length == 0">
                        <td colspan="5" class="text-center">Data tidak ditemukan</td>
                    </tr>
                    <tr ng-if="me.masterLeadTimeLocationsData == null">
                        <td colspan="5" class="text-center"><i>Loading...</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-right">
            <ul uib-pagination total-items="result.length" ng-model="me.currentPage" max-size="me.maxSize" items-per-page="me.pageSize" class="pagination-sm" boundary-links="true" num-pages="me.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
    </div>
    <div class="menu-panel">
        <div class="panel-inside-padding">
            <form class="form-horizontal row-striped" name="MasterLeadTimeLocationForm">
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">Lokasi<span class="mandatory"> *</span></label>
                    </div>
                    <div class="col-sm-4">
                        <ui-select ng-model="me.masterLeadTimeLocationData.locationCode" theme="bootstrap" name="LocationCodeComboBox">
                            <ui-select-match placeholder="Pilih Salah Satu">{{$select.selected.locationCode}} - {{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="location.locationCode as location in me.locationComboBoxData | filter: $select.search">
                                <span ng-bind-html="location.locationCode | highlight: $select.search"></span> -
                                <span ng-bind-html="location.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="field-validation-error" ng-show="me.masterLeadTimeLocationData.locationCode == null && MasterLeadTimeLocationForm.LocationCodeComboBox.$touched">Lokasi harus dipilih</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">Kode Rute<span class="mandatory"> *</span></label>
                    </div>
                    <div class="col-sm-4">
                        <ui-select ng-model="me.masterLeadTimeLocationData.processMasterCode" theme="bootstrap" name="RouteCodeComboBox">
                            <ui-select-match placeholder="Pilih Salah Satu">{{$select.selected.processMasterCode}} - {{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="route.processMasterCode as route in me.routeComboBoxData | filter: $select.search">
                                <span ng-bind-html="route.processMasterCode | highlight: $select.search"></span> -
                                <span ng-bind-html="route.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="field-validation-error" ng-show="me.masterLeadTimeLocationData.processMasterCode == null && MasterLeadTimeLocationForm.RouteCodeComboBox.$touched">Kode Rute harus dipilih</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">Lead Time<span class="mandatory"> *</span></label>
                    </div>
                    <div class="col-sm-1">
                        <input name="LeadTimeDay" type="number" class="form-control" ng-model="me.masterLeadTimeLocationData.day" min="0" ng-required="me.masterLeadTimeLocationData.hour == null && me.masterLeadTimeLocationData.minute == null" pattern="^[0-9]*$" />
                    </div>
                    <div class="col-sm-1">
                        <label class="control-label">Hari</label>
                    </div>
                    <div class="col-sm-1">
                        <input name="LeadTimeHour" type="number" class="form-control" ng-model="me.masterLeadTimeLocationData.hour" min="0" max="23" ng-required="me.masterLeadTimeLocationData.day == null && me.masterLeadTimeLocationData.minute == null" pattern="^[0-9]*$" />
                    </div>
                    <div class="col-sm-1">
                        <label class="control-label">Jam</label>
                    </div>
                    <div class="col-sm-1">
                        <input name="LeadTimeMinute" type="number" class="form-control" ng-model="me.masterLeadTimeLocationData.minute" min="0" max="59" ng-required="me.masterLeadTimeLocationData.day == null && me.masterLeadTimeLocationData.hour == null" pattern="^[0-9]*$" />
                    </div>
                    <div class="col-sm-1">
                        <label class="control-label">Menit</label>
                    </div>
                    <div class="col-sm-4">&nbsp;</div>

                    <div class="col-sm-offset-2 col-sm-4">
                        <validation-message input="MasterLeadTimeLocationForm.LeadTimeDay" title="Hari"></validation-message>
                        <validation-message input="MasterLeadTimeLocationForm.LeadTimeHour" title="Jam"></validation-message>
                        <validation-message input="MasterLeadTimeLocationForm.LeadTimeMinute" title="Menit"></validation-message>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <p class="form-note"><span class="mandatory">*</span>:Field mandatory harus diisi</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="me.createNewMasterLeadTimeLocationData(MasterLeadTimeLocationForm)" ng-if="me.isUpdating === false" ng-disabled="MasterLeadTimeLocationForm.$invalid ||  me.masterLeadTimeLocationData.locationCode == null || me.masterLeadTimeLocationData.processMasterCode == null">Simpan</button>
        <button type="button" class="btn btn-primary" ng-click="me.updateRow(MasterLeadTimeLocationForm)" ng-if="me.isUpdating === true" ng-disabled="MasterLeadTimeLocationForm.$invalid ||  me.masterLeadTimeLocationData.locationCode == null || me.masterLeadTimeLocationData.processMasterCode == null">Update</button>
        <button type="button" class="btn btn-danger" ng-click="me.resetForm(MasterLeadTimeLocationForm)">Batal</button>
    </div>
</div>