<div class="addData" ng-if="!me.flag">
    <form name="add" ng-submit="me.addData(add)">
        <div class="panel panel-default panel-sales">
            <table class="table table-striped">
                <tr>
                    <td width="150">Kode Vendor</td>
                    <td>
                        <select ng-model="me.masterRitasePriceInput.deliveryVendorCode" ng-options="dv.deliveryVendorCode as dv.deliveryVendorCode for dv in me.deliveryVendor" class="form-control" required><option value="">(Please Choose One)</option></select>
                    </td>
                </tr>
                <tr>
                    <td>Kode City Leg</td>
                    <td>
                        <select ng-model="me.masterRitasePriceInput.deliveryMethodCode" ng-options="cl.cityLegCode as cl.cityLegCode for cl in me.cityLeg" class="form-control" required><option value="">(Please Choose One)</option></select>
                    </td>       
                </tr>
                <tr>
                    <td>Kode Moda</td>
                    <td>
                        <select ng-model="me.masterRitasePriceInput.cityLegCode" ng-options="dm.deliveryMethodCode as dm.deliveryMethodCode for dm in me.deliveryMethod" class="form-control" required><option value="">(Please Choose One)</option></select>
                    </td>
                </tr>
                <tr>
                    <td>Jenis Pengiriman</td>
                    <td>
                        <label>
                            <input type="radio" ng-model="me.masterRitasePriceInput.isSingleTrip" value="0" name="trip" required>
                            Single Trip
                        </label>
                        <label>
                            <input type="radio" ng-model="me.masterRitasePriceInput.isSingleTrip" value="1" name="trip">
                            Round Trip
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>Berlaku Mulai</td>
                    <td>
                        <input class="form-control" ng-model="me.masterRitasePriceInput.validDate" type="date" required />
                    </td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>
                        <input class="form-control" ng-model="me.masterRitasePriceInput.currencySymbol" type="text" required />
                    </td>
                </tr>
                <tr>
                    <td>Biaya</td>
                    <td>
                        <input class="form-control" ng-model="me.masterRitasePriceInput.nominal" type="number" required min="1" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="container-fluid paging-sales">
            <div class="navbar-right">
                <button class="btn btn-primary btn-sales" ng-if="!me.EditCheck" type="submit">Simpan</button>
                <button class="btn btn-danger btn-sales" ng-click="me.clearForm(add)">Batal</button>
            </div>
        </div>
    </form>
</div>
