<div class="row">
    <div class="col-sm-7">
        <label class="control-label">No. Urut</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{noUrut}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Shift</label>
    </div>
    <div class="col-sm-5">
        
        <label class="control-label">{{shiftCode}} -  {{shift}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Mulai Kerja</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{mulai}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Selesai Kerja</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{selesai}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Berlaku untuk Hari</label>
    </div>
    <div class="col-sm-5">
        <!--<label class="control-label" ng-show="senin == true">Sen</label>
        <label class="control-label" ng-show="selasa == true">Sel</label>
        <label class="control-label" ng-show="rabu == true">Rab</label>
        <label class="control-label" ng-show="kamis == true">Kam</label>
        <label class="control-label" ng-show="jumat == true">Jum</label>
        <label class="control-label" ng-show="sabtu == true">Sab</label>
        <label class="control-label" ng-show="minggu == true">Min</label>-->
        <label>
            {{lblsenin}} 
            
        </label>
        <label>
            {{lblselasa}}
        </label>
        <label>
            {{lblrabu}}
        </label>
        <label>
            {{lblkamis}}
        </label>
        <label>
            {{lbljumat}}
        </label>
        <label>
            {{lblsabtu}}
        </label>
        <label>
            {{lblminggu}}
        </label>


    </div>
</div>