<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Pola</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{kodePola}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Lokasi</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{locationCode}} - {{location}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Mulai Kerja</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{lblMulai}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Selesai Kerja</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{lblSelesai}}</label>
    </div>
</div>
