<div class="row">
    <div class="col-sm-5">
        <label class="control-label">Kode Branch</label>
    </div>
    <div class="col-sm-7">
        <label class="control-label">{{branchCode}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <label class="control-label">Kode Sales Area</label>
    </div>
    <div class="col-sm-7">
        <label class="control-label">{{salesAreaName}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <label class="control-label">Kode Company</label>
    </div>
    <div class="col-sm-7"> 
        <label class="control-label">{{companyName}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <label class="control-label">Kode Lokasi</label>
    </div>
    <div class="col-sm-7">
        <label class="control-label">{{locationName}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <label class="control-label">Kode Destinasi</label>
    </div>
    <div class="col-sm-7">
        <label class="control-label">{{destinationName}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <label class="control-label">Kode Region</label>
    </div>
    <div class="col-sm-7">
        <label class="control-label">{{regionName}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <label class="control-label">Kode Cluster</label>
    </div>
    <div class="col-sm-7">
        <label class="control-label">{{clusterName}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <label class="control-label">Nama Branch</label>
    </div>
    <div class="col-sm-7">
        <label class="control-label">{{name}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <label class="control-label">No. Telp</label>
    </div>
    <div class="col-sm-7">
        <label class="control-label">{{phone}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <label class="control-label">No. Fax</label>
    </div>
    <div class="col-sm-7">
        <label class="control-label">{{fax}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <label class="control-label">Kode AFI Branch</label>
    </div>
    <div class="col-sm-7">
        <label class="control-label">{{branchCodeAFI}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <label class="control-label">Branch AS 400</label>
    </div>
    <div class="col-sm-7">
        <label class="control-label">{{branchAS400}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <label class="control-label">Kabupaten</label>
    </div>
    <div class="col-sm-7">
        <label class="control-label">{{kabupatenCode}}</label>
    </div>
</div>