<div class="row">
    <div class="col-sm-4">
        <label class="control-label">Katashiki</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{katashiki}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="control-label">Suffix</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{suffix}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="control-label">Tipe</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{name}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="control-label">Engine Desc.</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{engineDescription}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="control-label">CC</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{engineVolume}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="control-label">Steer Position</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{steerPosition}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="control-label">Wheel Diametre</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{wheelDiameter}}</label>
    </div>
</div>
<div class="row"> 
    <div class="col-sm-4">
        <label class="control-label">Wheel Size</label>
    </div>
    <div class="col-sm-8">  
        <label class="control-label">{{wheelSize}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="control-label">Assembly</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{assembly}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="control-label">Model Series</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{carSeriesName}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="control-label">Jenis</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{carCategoryName}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="control-label">FTZ</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{isFTZ}}</label>
    </div>
</div>