<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Color Code</label> 
    </div> 
    <div class="col-sm-6">
        <label typeof='' class="control-label">  {{colorCode}}  </label>
    </div> 
</div> 
<div class="row">     
    <div class="col-sm-6">
        <label class="control-label">Color Type</label> 
    </div> 
    <div class="col-sm-6">
        <label typeof='' class="control-label">  {{colorType}}  </label>
    </div>
</div> 
<div class="row">     
    <div class="col-sm-6">
        <label class="control-label">Indonesian Name</label> 
    </div> 
    <div class="col-sm-6">
        <label typeof='' class="control-label">  {{indonesianName}}  </label> 
    </div> 
</div> 
<div class="row">     
    <div class="col-sm-6">
        <label class="control-label">English Name</label> 
    </div> 
    <div class="col-sm-6">
        <label typeof='' class="control-label">  {{englishName}}  </label> 
    </div> 
</div>