<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Kode Company</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">:  {{companyCode}}  </label>
    </div>
    <div class="col-sm-6">
        <label class="control-label">No.Fax</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">:  {{fax}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Kode Dealer</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">:  {{dealerCode}}  </label>
    </div>
    <div class="col-sm-6">
        <label class="control-label">Email</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">:  {{email}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Nama Company</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{name}} </label>
    </div>
    <div class="col-sm-6">
        <label class="control-label">Trade Name</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{tradeName}} </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Alamat NPWP</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{address}} </label>
    </div>
    <div class="col-sm-6">
        <label class="control-label">NPWP</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{npwp}} </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Kode Company SAP</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{sapCode}} </label>
    </div>
    <div class="col-sm-6">
        <label class="control-label">Dealer Financing</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{isDealerFinancing}} </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">No Telp.</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{phone}} </label>
    </div>
</div>
