<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Kode Routing untuk MCCP Report</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">  {{routingMasterCodeMCCP}} - {{nameMCCP}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Kode Routing untuk DCCP Report</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">  {{routingMasterCodeDCCP}} - {{nameDCCP}} </label>
    </div>
</div>