﻿﻿<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Frame No.</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{frameNumber}}</label>
    </div>
</div>
﻿﻿<div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <label class="control-label">Katashiki-Suffix</label>
      </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <label class="control-label">{{katashiki}}-{{suffix}}</label>
      </div>
</div>
﻿﻿<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Model</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{model}}</label>
    </div>
</div>
﻿﻿<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Tipe</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{tipe}}</label>
    </div>
</div>
﻿﻿<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Warna</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{warna}}</label>
    </div>
</div>
﻿﻿<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Branch</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{branch}}</label>
    </div>
</div>
﻿﻿<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Customer Assign</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{customerAssign}}</label>
    </div>
</div>
﻿﻿<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Requested PDD</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{requestedPDD}}</label>
    </div>
</div>
