<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Kode Leg Delivery</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{deliveryLegCode}}</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Delivery Leg</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{name}}</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Lokasi Awal</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{locationFrom}}</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Lokasi Tujuan</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{locationTo}}</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Kode City Leg</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{cityLegCode}}</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Buffer Time</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{bufferTime}}</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label class="control-label">Menggunakan SJKB</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">{{needSJKB}}</label>
    </div>
</div>
