<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Kode Lokasi Asal</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">:  {{location}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Kode Lokasi Akhir</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">:  {{locationTo}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Lead Time</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{days}}hari </label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">  {{hours}}Jam </label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">  {{minutes}}Menit </label>
    </div>
</div>
