<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Tanggal:</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{tanggal}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Asal</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{asal}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Tujuan</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{tujuan}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Trip</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{trip}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Load</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{load}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Qty</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{qty}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Adjust</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{adjust}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Estimasi</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{estimasi}}</label>
    </div>
</div>
</div>