<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Location</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">  {{currencyValue}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Shift</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">  {{toRupiah}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Mulai Break</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">  {{validFrom}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Selesai Break</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">  {{validUntil}}  </label>
    </div>
</div>
