<div class="row">
    <div class="col-sm-4">
        <label class="control-label">Frame No</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{frameNumber}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="control-label">Form-A Date</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{formADate}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label class="control-label">Form-A No</label>
    </div>
    <div class="col-sm-8">
        <label class="control-label">{{formANumber}}</label>
    </div>
</div>
    
