<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>Frame No</td>
                    <td>No Invoice</td>
                </tr>
            </thead>
            <tbody>
                {{#.}}
                <tr>
                    <td>{{frameNumber}}</td>
                    <td>{{invoiceNumber}}</td>
                </tr>
                {{/.}}
            </tbody>
        </table>
    </div>
</div>