﻿﻿<div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <label class="control-label">Keterangan</label>
      </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
          <label class="control-label">{{description}}</label>
      </div>
</div>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label class="control-label">Range alamat cell Excel</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <label class="control-label">:</label>
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <label class="control-label">{{rangeStart}}</label>
        <label class="control-label">-</label>
        <label class="control-label">{{rangeEnd}}</label>
    </div>
</div>
