<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Kode Price Leg</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">:  {{cityLegCostCode}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Kode Vendor</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">:  {{vendor}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Kode Model Series</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{nameSeries}} </label>
    </div>
    <div class="col-sm-6">
        <label class="control-label">Kode City Leg</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{nameKodeCityLeg}} </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Kode Moda</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{methodCode}} </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Valid Date From</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{validDate}} </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Currency</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{currency}} </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Cost</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{nominal}} </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Subtitusi</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{needAdditionalCityLegCostCode}} </label>
    </div>
</div>