<label>Apakah Anda Yakin dengan data dibawah ini?</label>
<div class="table-responsive">
    <table class="table table-condensed">
        <tr>
            <td>Tipe Kode Lokasi</td>
            <td>{{kodeLokasi}}</td>
        </tr>
        <tr>
            <td>Tipe Lokasi</td>
            <td>{{tipeLokasi}}</td>
        </tr>
        <tr>
            <td>Memiliki Tanggung Jawab</td>
            <td>{{tanggungJawab}}</td>
        </tr>
        <tr>
            <td>SJKB Tarikan</td>
            <td>{{sjkb}}</td>
        </tr>

    </table>
</div>
