<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Kode Moda</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{deliveryMethodCode}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Deskripsi Moda</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{name}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Tipe Moda</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{deliveryMethodTypeId}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Menggunakan Validasi SJKB</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{needSJKBValidation}}</label>
    </div>
</div>