<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Description</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{description}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Start Cell</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{rangeStart}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">End Cell</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{rangeEnd}}</label>
    </div>
</div>
