<div class="row">
    <div class="col-sm-5">
        <p>Delivery Vendor Code :</p>
    </div>
    <div class="col-sm-7">
        {{ deliveryVendorCode}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <p>City Leg :</p>
    </div>
    <div class="col-sm-7">
        {{cityLegCode}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <p>Kode Moda :</p>
    </div>
    <div class="col-sm-7">
        {{deliveryMethodCode}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <p>Jenis Pengiriman :</p>
    </div>
    <div class="col-sm-7">
        {{isSingleTrip}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <p>Berlaku Mulai :</p>
    </div>
    <div class="col-sm-7">
        {{validDate}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <p>Currency :</p>
    </div>
    <div class="col-sm-7">
        {{currencySymbol}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <p>Biaya :</p>
    </div>
    <div class="col-sm-7">
        {{nominal}}
    </div>
</div>