<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Location</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">:  {{name}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Periode Maintenance</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">:  {{maintenanceDay}} Hari  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Unit Car Carrier</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">:  {{carCarrierQuotaPerDay}} Unit  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Unit Non Car Carrier</label>
    </div>
    <div class="col-sm-6">
        <label typeof='' class="control-label">:  {{nonCarCarrierQuotaPerDay}} Unit  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Lead Time Persiapan Pengiriman</label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">:  {{days2}}hari </label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">  {{hours2}}Jam </label>
    </div>
    <div class="col-sm-2">
        <label typeof='' class="control-label">  {{minutes2}}Menit </label>
    </div>
</div>
