<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Plant</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{plant}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Waktu Mulai</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{penampungDateStart}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Waktu Selesai</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{penampungDateEnd}}</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Bukan Akhir Bulan</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{penampungBab}}</label>
        
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <label class="control-label">Akhir Bulan</label>
    </div>
    <div class="col-sm-5">
        <label class="control-label">{{penampungAkhirBulan}}</label>
    </div>
</div>