<label class="control-label">Apakah anda yakin data ingin disimpan?</label>

<div class="table-responsive">
    <table class="table">
        <tr>
            <td><strong>Kode Pola</strong></td>
            {{#header.routingDictionaryHeadCode}}
            <td class="text-uppercase">{{header.routingDictionaryHeadCode}}</td>
            {{/header.routingDictionaryHeadCode}}

            {{#header.routingDictionaryTailCode}}
            <td class="text-uppercase">{{header.routingDictionaryTailCode}}</td>
            {{/header.routingDictionaryTailCode}}
        </tr>
        <tr>
            <td><strong>Keterangan</strong></td>
            <td class="text-uppercase">{{header.description}}</td>
        </tr>
    </table>
</div>