<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Lokasi</label>
    </div>
    <div class="col-sm-5">
        <label typeof='' class="control-label">  {{namaLocation}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">No. Urut</label>
    </div>
    <div class="col-sm-5">
        <label typeof='' class="control-label">  {{ordering}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Katashiki</label>
    </div>
    <div class="col-sm-5">
        <label typeof='' class="control-label">  {{katashiki}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Suffix</label>
    </div>
    <div class="col-sm-5">
        <label typeof='' class="control-label">  {{suffix}}  </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Kode Rute</label>
    </div>
    <div class="col-sm-5">
        <label typeof='' class="control-label">  {{namaRute}}  </label>
   
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label class="control-label">Lead Time</label>
    </div>
    <div class="col-sm-5">
        <label typeof='' class="control-label">  {{leadMinutes}}  </label>
    </div>
</div>