﻿@{
    ViewBag.Title = "Master Warna Vehicle";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Warna Vehicle"
    };

}

<div ng-app="aspnet" class="row">
    <master-warna-vehicle><div class="loading"></div></master-warna-vehicle>
    <upload-download><div class="loading"></div></upload-download>
</div>
