@{
    ViewBag.Title = "Master Cluster";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Cluster"
    };
}
<div ng-app="aspnet">
    <cluster><div class="loading"></div></cluster>
    <upload-download></upload-download>
</div>