@{
    ViewBag.Title = "Master Proses";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Proses"
    };
}

<div ng-app="aspnet" class="row">
    <master-proses><div class="loading"></div></master-proses>
</div>
