@{
    ViewBag.Title = "Master Warna";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Warna"
    };
}
﻿
<div ng-app="aspnet" class="row">
    <colour><div class="loading"></div></colour>
    <upload-download><div class="loading"></div></upload-download>
</div>

