@{
    ViewBag.Title = "Tipe";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Tipe"
    };
}
<div ng-app="aspnet">
    <cartype><div class="loading"></div></cartype>
    <upload-download><div class="loading"></div></upload-download>
</div>