@{
    ViewBag.Title = "Penyesuaian Tanggal Produksi";
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Penyesuaian Tanggal Produksi"
    };

}
<div ng-app="aspnet" class="row">
    <penyesuaian-tanggal-produksi><div class="loading"></div>
    </penyesuaian-tanggal-produksi>
</div>