@{ 
    ViewBag.Title = "Delivery Unit Advance";
    ViewBag.BreadCrumb = new List<string> {
        "Delivery",
        "Unit Advance"
    };
}

<div ng-app="aspnet" class="row">
    <delivery-unit-advance-component><div class="loading"></div></delivery-unit-advance-component>
</div>