@{
    ViewBag.Title = "Vessel Depart";
    ViewBag.BreadCrumb = new List<string> {
        "Delivery",
        "Vessel Depart"
    };
}
<div ng-app="aspnet" class="row">
    <vessel-depart><div class="loading"></div></vessel-depart>
    <vessel-unit-list><div class="loading"></div></vessel-unit-list>
</div>