@{
    ViewBag.Title = "AFI";
    ViewBag.BreadCrumb = new List<string> {
        "AFI",
        "Gesek No. Rangka"
    };

}

<div ng-app="aspnet" class="row">
    <gesek-no-rangka><div class="loading"></div></gesek-no-rangka>
</div>