@{
    ViewBag.Title = "Master Manufacturing";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Manufacturing"
    };
}

<div ng-app="aspnet" class="row">
    <manufacturing><div class="loading"></div></manufacturing>
    <upload-download></upload-download>
</div>