@{
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Pola Rangkaian: Tahap Akhir - Penerapan"
    };
}
<div ng-app="aspnet" class="row">
    <pola-rangkaian-tahap-akhir-penerapan><div class="loading"></div></pola-rangkaian-tahap-akhir-penerapan>
</div>