@{
    ViewBag.Title = "Kalender Kerja : Pola Kerja Dalam Seminggu";
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Kalender Kerja : Pola Kerja Dalam Seminggu"
    };
}
<div ng-app="aspnet" class="row">
    <working-dictionary><div class="loading"></div></working-dictionary>
</div>

