@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "PIO Line Master";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "PIO Line Master"
    };
}
<div ng-app="aspnet">
    <pio-line-master><div class="loading"></div></pio-line-master>
    <upload-download></upload-download>
</div>