@{ 
    ViewBag.Title = "Delivery Request";
    ViewBag.BreadCrumb = new List<string> {
        "Delivery",
        "Delivery Request"
    };
}

<div ng-app="aspnet" class="row">
    <delivery-request><div class="loading"></div></delivery-request>
</div>