@{
    ViewBag.Title = "UI Standarization";
    ViewBag.BreadCrumb = new List<string> {
        "UI",
        "UI Standarization"
    };
}

<div ng-app="aspnet" class="row">
    <ui-standarization><div class="loading"></div></ui-standarization>
</div>