@{
    ViewBag.Title = "Dccp Readiness Volume";
    ViewBag.BreadCrumb = new List<string> {
        "Delivery",
        "DCCP Readiness Volume"
    };
}
<div ng-app="aspnet" class="row">
    <dccp-readiness-volume>
        <div class="loading"></div>
    </dccp-readiness-volume>
    <edit-dccp-volume></edit-dccp-volume>
</div>