@{
    ViewBag.Title = "Master Brand";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Brand"
    };
}
<div ng-app="aspnet">
    <brand><div class="loading"></div></brand>
    <upload-download></upload-download>
</div>