@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewBag.Title = "Master Region Afi";
    ViewBag.BreadCrumb = new List<string>
    {
        "Master",
        "Master Region AFI"

    };
}
<div ng-app="aspnet" class="row">
    <master-region-afi><div class="loading"></div></master-region-afi>
    <upload-download><div class="loading"></div></upload-download>
</div>
