@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "PDC Delivery Method";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "PDC Delivery Method"
    };
}
<div ng-app="aspnet">
    <pdc-delivery-method><div class="loading"></div></pdc-delivery-method>
</div>