@{ 
    ViewBag.Title = "PDI - Lead Time Configuration";
    ViewBag.BreadCrumb = new List<string> {
        "PDI",
        "PDI Lead Time Configuration"
    };
}

<div ng-app="aspnet" class="row">
    <pdi-lead-time-configuration><div class="loading"></div></pdi-lead-time-configuration>
    <upload-download><div class="loading"></div></upload-download>
</div>