@{ 
    ViewBag.Title = "Master Dealer";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Dealer"
    };
}
<div ng-app="aspnet" class="row">
    <dealer-Master><div class="loading"></div></dealer-Master>
    <upload-download></upload-download>
</div>