@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "AFI ReceiveDocument";
    ViewBag.BreadCrumb = new List<string> {
        "AFI",
        "Receive Document"
    };
}

<div ng-app="aspnet" class="row">
    <afi-receive-document><div class="loading"></div></afi-receive-document>
</div>