@{
    ViewBag.Title = "Kalender Kerja : Pola Break Dalam Seminggu";
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Kalender Kerja : Pola Break Dalam Seminggu"
    };
}

<div ng-app="aspnet" class="row">
    <idle-dictionary><div class="loading"></div></idle-dictionary>
</div>

