@{
    ViewBag.Title = "Lead Time Location Master";
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Lead Time Location Master"
    };
}

<div ng-app="aspnet" class="row">
    <master-lead-time-location>
        <div class="loading"></div>
    </master-lead-time-location>
</div>