@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home";
}

<h2>Home/Index</h2>

<div>
    <a href="@Url.Action("Index","PDI")">PDI</a>
    <a href="@Url.Action("Index","Dealer")">Dealer</a>
    <a href="@Url.Action("Index","Location")">Location</a>
    <a href="@Url.Action("Index","RoutingMaster")">Routing Master</a>
</div>