@{
    ViewBag.Title = "Master Sales Area";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Sales Area"
    };
}
<div ng-app="aspnet" class="row">
    <sales-area><div class="loading"></div></sales-area>
	<upload-download></upload-download>
</div>