@{
    ViewBag.Title = "Restriksi Area / Swapping";
    ViewBag.BreadCrumb = new List<string> {
        "AFI",
        "Restriksi Area / Swapping"
    };
}

<div ng-app="aspnet" class="row">
    <afi-restriksi-area>
        <div class="loading"></div>
    </afi-restriksi-area>
</div>