﻿@{
    ViewBag.Title = "Batal Delivery Request";
    ViewBag.BreadCrumb = new List<string> {
        "Delivery",
        "Batal Delivery Request"
    };
}


<div ng-app="aspnet" class="row">
    <cancel-delivery-request><div class="loading"></div></cancel-delivery-request>
</div>

