@{
    ViewBag.Title = "Master Branch";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Branch"
    };
}
<div ng-app="aspnet">
    <branch><div class="loading"></div></branch>
    <upload-download></upload-download>
</div>