@{
    ViewBag.Title = "Master Model Series";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Model Series"
    };
}
<div ng-app="aspnet" class="row">
    <master-series><div class="loading"></div></master-series>
    <upload-download></upload-download>
</div>

