@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Request AFI List (Revisi & Ex-Cancel)";
    ViewBag.BreadCrumb = new List<string> {
        "AFI",
        "Request AFI List (Revisi & Ex-Cancel)"
    };
}

<div ng-app="aspnet" class="row">
    <afi-request-revisi-and-ex-cancel><div class="loading"></div></afi-request-revisi-and-ex-cancel>
    <afi-request-revisi-form></afi-request-revisi-form>
    <afi-request-ex-cancel-form></afi-request-ex-cancel-form>
</div>