@{
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Generate Pola Rangkaian Rute"
    };
}
<div ng-app="aspnet" class="row">
    <generate-pola-rangkaian-rute><div class="loading"></div></generate-pola-rangkaian-rute>
</div>