@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Log Upload Download";
    ViewBag.BreadCrumb = new List<string> {
        "Upload Download",
        "Log Upload Download"
    };
}
<div ng-app="aspnet">
    <log-upload-download><div class="loading"></div></log-upload-download>
</div>