@{ 
    ViewBag.Title = "Master - Company";
    ViewBag.BreadCrumb = new List<string>
    {
        "Master",
        "Master Company"
    };
}

<div ng-app="aspnet" class="row">
    <master-company><div class="loading"></div></master-company>
    <upload-download><div class="loading"></div></upload-download>
</div>