<div ng-app="aspnet">
    <nav class="navbar">
        <div class="navbar-header">
            <h1>Ritase Price Master</h1>
        </div>
        <hr />
    </nav>
    <master-ritase-price></master-ritase-price>
</div>