@{
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Pola Rangkaian: Tahap Awal"
    };
}
<div ng-app="aspnet" class="row">
    <pola-rangkaian-tahap-awal><div class="loading"></div></pola-rangkaian-tahap-awal>
</div>