@{
    ViewBag.Title = "Default Lead Time Configuration";
    ViewBag.BreadCrumb = new List<string> {
        "SPU",
        "Default Lead Time Configuration"
    };
}

<div ng-app="aspnet" class="row">
    <spu-default-lead-time-configuration><div class="loading"></div></spu-default-lead-time-configuration>
</div>