@{
    ViewBag.Title = "Master Model";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Model"
    };
}

<div ng-app="aspnet" class="row">
    <master-model><div class="loading"></div></master-model>
    <upload-download></upload-download>
</div>

