@{
    ViewBag.Title = "Logistic Vendor";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Logistic Vendor"
    };
}

<div ng-app="aspnet" class="row">
    <logistic-vendor><div class="loading"></div></logistic-vendor>
    <upload-download><div class="loading"></div></upload-download>
</div>