@{
    ViewBag.Title = "Logistic Vehicle";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Logistic Vehicle"
    };
}
<div ng-app="aspnet">
    <logistic-vehicle><div class="loading"></div></logistic-vehicle>
    <upload-download></upload-download>
</div>