@{
    ViewBag.Title = "Maintenance Konfigurasi Export Excel File DCCP";
}

<div ng-app="aspnet" class="row">
    <maintenance-konfigurasi-export-file-dccp><div class="loading"></div></maintenance-konfigurasi-export-file-dccp>
</div>
