@{
    ViewBag.Title = "Delivery Unit Loading";
    ViewBag.BreadCrumb = new List<string> {
        "Delivery",
        "Delivery Unit Loading"
    };

}
<div ng-app="aspnet" class="row">
    <delivery-unit-loading-component><div class="loading"></div></delivery-unit-loading-component>
    <delivery-unit-loading-detail><div class="loading"></div></delivery-unit-loading-detail>
</div>
