@{ 
    ViewBag.Title = "Master City Leg";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master City Leg"
    };
}

<div ng-app="aspnet" class="row">
    <city-Leg><div class="loading"></div></city-Leg>
    <upload-download></upload-download>
</div>