@{
    ViewBag.Title = "Master Plafond";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Plafond"
    };
}

<div ng-app="aspnet">
    <master-plafond><div class="loading"></div></master-plafond>
    <upload-download><div class="loading"></div></upload-download>
</div>