@{
    ViewBag.Title = "Generate Jam Break";
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Kalender Kerja: Generate Jam Break"
    };
}
<div ng-app="aspnet" class="row">
    <generate-jam-break><div class="loading"></div></generate-jam-break>
</div>
