@{
    ViewBag.Title = "Generate Shift Kerja";
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Generate Shift Kerja"
    };
}

<div ng-app="aspnet" class="row">
    <generate-shift-kerja><div class="loading"></div></generate-shift-kerja>
</div>
