@{
    ViewBag.Title = "Master City";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master City"
    };
}
<div ng-app="aspnet" class="row">
    <city-Master><div class="loading"></div></city-Master> 
    <upload-download><div class="loading"></div></upload-download>
</div>