@{
    ViewBag.Title = "Vessel Arrival";
    ViewBag.BreadCrumb = new List<string> {
        "Delivery",
        "Vessel Arrival"
    };
}
<div ng-app="aspnet" class="row">
    <vessel-arrival><div class="loading"></div></vessel-arrival>
</div>