@{
    ViewBag.Title = "Master Group Dealer";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Group Dealer"
    };
}

<div ng-app="aspnet" class="row">
    <master-group-dealer><div class="loading"></div></master-group-dealer>
    <upload-download><div class="loading"></div></upload-download>
</div>
