@{
    ViewBag.Title = "Unit Assign";

    ViewBag.BreadCrumb = new List<string> {
        "Delivery",
        "Unit Assign"
    };
}
<div ng-app="aspnet" class="row">
    <unit-assign><div class="loading"></div></unit-assign>
    <unit-assign-detail><div class="loading"></div></unit-assign-detail>
</div>
