@{
    ViewBag.Title = "AFI Serah terima gesekan";
    ViewBag.BreadCrumb = new List<string> {
        "AFI",
        "Serah Terima Gesekan"
    };

}

<div ng-app="aspnet" class="row">
    <serah-terima-gesekan><div class="loading"></div></serah-terima-gesekan>
</div>