@{
    ViewBag.Title = "Master City Location";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master City Location"
    };
}

<div ng-app="aspnet" class="row">
    <master-city-location><div class="loading"></div></master-city-location>
    <upload-download><div class="loading"></div></upload-download>
</div>
