@{
    ViewBag.Title = "Dwelling Time";
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Dwelling Time"
    };
}
<div ng-app="aspnet" class="row">
    <dwelling-Time><div class="loading"></div></dwelling-Time>
</div>