
@{
    ViewBag.Title = "Maintenance Waktu Break";
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Maintenance Waktu Break"
    };
}

<div ng-app="aspnet" class="row">
    <maintenance-waktu-break greet="@Url.Content("~/")"><div class="loading"></div></maintenance-waktu-break>
    <upload-download></upload-download>
</div>