@{
    ViewBag.BreadCrumb = new List<string> {
        "Planning",
        "Pola Rangkaian: Tahap Awal - Penerapan"
    };
}
<div ng-app="aspnet" class="row">
    <pola-rangkaian-tahap-awal-penerapan><div class="loading"></div></pola-rangkaian-tahap-awal-penerapan>
</div>