@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Request AFI (Normal)";
    ViewBag.BreadCrumb = new List<string> {
        "AFI",
        "Request AFI (Normal)"
    };
}

<div ng-app="aspnet" class="row">
    <afi-request><div class="loading"></div></afi-request>
</div>