@{ 
    ViewBag.Title = "Maintenance Shift Kerja";
    ViewBag.Breadcrumb = new List<string>
    {
        "Planning",
        "Maintenance Shift Kerja"
    };
}
<div ng-app="aspnet" class="row">
    <maintenance-Shift-Kerja><div class="loading"></div></maintenance-Shift-Kerja>
</div>
