@{ 
    ViewBag.Title = "Master Tipe Lokasi";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Tipe Lokasi"
    };
}

<div ng-app="aspnet" class="row">
    <location-type><div class="loading"></div></location-type>
    <upload-download><div class="loading"></div></upload-download>
</div>