@{ 
    ViewBag.Title = "Delivery Leg";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Delivery Leg"
    };
}

<div ng-app="aspnet" class="row">
    <delivery-Leg><div class="loading"></div></delivery-Leg>
    <upload-download></upload-download>
</div>
