@{
    ViewBag.Title = "Master Jenis";
    ViewBag.BreadCrumb = new List<string> {
        "Master",
        "Master Jenis"
    };
}
<div ng-app="aspnet" class="row">
    <master-jenis><div class="loading"></div></master-jenis>
    <upload-download><div class="loading"></div></upload-download>
</div>